@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
*,
#app {
  font-family: 'Public Sans', sans-serif;
}

:root {
  --bg: #232332;
  --bgLight: #f4f4f8;
  --bgComponent: #2a2c40;
}

.bg-element {
  background-color: var(--bgComponent);
  color: white;
}

.bg {
  color: white;
  background-color: var(--bg);
}
.bgLight {
  color: #b3bec5;
  background-color: var(--bgLight);
}

.avtr {
  cursor: pointer;
}

.hero {
  background-image: url('../109715820.jpg');
  background-size: cover;
}
