@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
#app {
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg: #232332;
  --bgLight: #f4f4f8;
  --bgComponent: #2a2c40;
}

.bg-element {
  background-color: var(--bgComponent);
  color: white;
}

.light-mode {
  color: #6368d9;
  background-image: linear-gradient(30deg, #ffffff 60%, #11c1f940);
}

.avtr {
  cursor: pointer;
}

.bgHero {
  background-color: #00000008;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
}
.v-btn--active {
  background-color: #2196f305;
}

.bg-nav {
  position: sticky;
  top: 0;
  background-color: #ffffff02;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 9999;
}

pre {
  margin: 0;
  padding: 0;
}
section {
  padding: 40px 0;
}
