@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
*,
#app {
  font-family: 'Public Sans', sans-serif;
}

:root {
  --bg: #232332;
  --bgLight: #f4f4f8;
  --bgComponent: #2a2c40;
}

.bg-element {
  background-color: var(--bgComponent);
  color: white;
}

.bg {
  color: white;
  background-color: var(--bg);
}

.avtr {
  cursor: pointer;
}

.bgHero {
  background-color: #00000008;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
}
.v-btn--active {
  background-color: #2196f305;
}

pre {
  margin: 0;
  padding: 0;
  color: #2196f3;
}
